{% extends 'index.html' %}

{% block header %}
  <h1>{% block title %}Image Recognition{% endblock %}</h1>
{% endblock %}

{% block content %}

<h1>حول المشروع</h1>
<br>
<h2> التعرف على ارقام السيارات في العراق</h2>
<br>
<p>هذا المشروع هو من متطلبات الحصول على شهادة الباكالوريوس في جامعة الموصل / كلية الهندسة - قسم هندسة الحاسوب 2021/2022&nbsp;</p>
<p>تم تنفيذ المشروع من قبل الطلاب عبدالله صالح و عمر قصي بأشراف الدكتور عمار ادريس</p>
<p>تم استخدام كل من الادوات التالية في تنفيذ المشروع :</p>
<p>1-Tensorflow Object Detection API</p>
<p>2-EasyOCR</p>
<p>3-Anime4K</p>
<p>تم تدريب نظام ذكاء اصطناعي بأستخدام تقنيات تعلم الالة على اكثر من 500 صورة لسياراة في العراق.</p>
<p><a href="https://github.com/Abdullah-Salih/iraqi-licence-plate-recognition"> يمكنك الوصول الى الكود المصدري للمشروع و النموذج المدرب مسبقاً عن طريق الرابط&nbsp;</a><br><br><br></p>

{% endblock %}